!!! 5
%html(lang='en')
  %head
    %title API Explorer

    = javascript_include_tag 'jquery',
                             'jquery.ba-bbq',
                             'jquery.slideto.min',
                             'jquery.wiggle.min',
                             'highlight.7.3.pack',
                             'handlebars-1.0.rc.1',
                             'underscore-min',
                             'backbone-min',
                             'swagger',
                             'swagger-ui'
    = stylesheet_link_tag 'highlight.default', 'swagger_ui', media: :all
    = csrf_meta_tags

    :css
      .swagger-ui-wrap {
        max-width: 80%;
        min-width: 960px;
        margin-left: auto;
        margin-right: auto;
      }

    :javascript
      $(function(){
        $.ajaxPrefilter(function(o, options){
          options.headers = { 'X-CSRF-Token': '#{form_authenticity_token.to_s}' }
        });
      });

      $(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: "#{request.protocol}#{request.host}:#{request.port}/api/resources.json",
          apiKey:"",
          dom_id:"swagger-ui-container",
          supportHeaderParams: false,
          supportedSubmitMethods: ['get', 'post', 'put']
        });
        window.swaggerUi.load();
      });

  %body
    #header
      .swagger-ui-wrap
        %a#logo{ href: '/' } Reminders API
        %form#api_selector
          .input
            %input#input_baseUrl{ placeholder: "http://example.com/api", name: "baseUrl", type: "text" }
          .input
            %input#input_apiKey{ placeholder: "api_key", name: "apiKey", type: "text" }
          .input
            %a#explore{ href: "#"} Explore

    #message-bar.swagger-ui-wrap &nbsp;
    #swagger-ui-container.swagger-ui-wrap
