#main
  %h1 Lists

  %nav#subnav(role='navigation')
    %ul
      %li.active= link_to 'Event Lists', event_lists_path
      %li= link_to 'Events', '#'
      %li= link_to 'Reminders', '#'
      %li= link_to 'Subscribers', '#'

  #content
    %table
      %caption List of event lists and associated data
      %thead
        %tr
          %th Name
          %th Events
          %th Subscribers
          %th Created At
      %tbody
        - @event_lists.each do |event_list|
          %tr
            %td= link_to event_list.name, event_list_path(event_list)
            %td= number_with_delimiter(event_list.events.count)
            %td= number_with_delimiter(event_list.subscribers.count)
            %td= event_list.created_at.to_formatted_s(:date)

    %div
      = link_to 'New List', new_event_list_path, class: 'button primary'
