%header(role='banner')
  %nav
    = link_to 'logo', home_path

  %nav(role='navigation')
    %ul
      %li.active
        = link_to 'Lists', '#'
      %li= link_to 'API', '#'
      %li= link_to 'Docs', '#'
      %li= link_to 'Account', '#'
      %li= link_to 'Log Out', '#'
