%header#page-header(role='banner')
  %nav
    .brand
      = link_to 'Reminders', root_path

  %nav(role='navigation')
    %ul
      %li.active
        = link_to 'Lists', lists_path
      %li= link_to 'API', api_path
      %li= link_to 'Docs', docs_path
      %li= link_to 'Account', account_path
      %li= link_to 'Log Out', '#'
